<h3>「<%= params[:search] %>」検索結果</h3>
<div class="result"><%= @movies.length %>件</div>
<table class="table search_result">
  <% @movies.each do |movie| %>
    <tr>
      <td>
        <p class="title"><%= movie_show_link_tag(movie) %></p>
        <div class="icon"><%= movie_image_tag(movie) %></div>
        <div class="description"><%= movie["description"] %></div>
        <div class="clearfix"></div>
      </td>
    </tr>
  <% end %>
</table>
<div class="center">
  <%= paginate @movies %>
</div>
<br />
