<% content_for :title do %>
  <%= @niconico.title %>
<% end %>
<p id="notice"><%= notice %></p>
<div id="show_movie">
  <h3><%= link_to @niconico.title, @niconico.url, :target => "_blnak" %></h3>
  <div class="movie">
    <script type="text/javascript" src="http://ext.nicovideo.jp/thumb_watch/<%= @id %>"></script><noscript><%= link_to @niconico.title, @niconico.url %></noscript>
    <div class="description">
      <%= @niconico.description %>
    </div>
    <div class="buttons">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="asumi_syndrome" data-lang="ja" data-size="large">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
  </div>
</div>
