<h1>ニコニコ動画一覧</h1>

<div class="button_area">
<%= search_form_for(@search, :url => admins_niconicomovies_path) do |f| %>
  <div class="field">
    <%#= f.label :name_cont, "Name contains" %>
    <%= f.text_field :title_or_url_or_description_cont %>
  </div>
  <div class="actions"><%= f.submit "検索" %></div>
<% end %>
</div>
<table class="table movies">
  <tr>
    <th>ID</th>
    <th>タイトル</th>
    <th>URL</th>
    <th></th>
  </tr>

<% @niconicomovies.each do |niconicomovie| %>
  <% if niconicomovie.disabled %>
    <tr class="disabled">
  <% else %>
    <tr>
  <% end %>
    <td><%= niconicomovie.id %></td>
    <td><%= niconicomovie.title %></td>
    <td><%= link_to niconicomovie.url, niconicomovie.url, target: "_blank" %></td>
    <td class="detail"><%= link_to '詳細', edit_admins_niconicomovie_path(niconicomovie.id) %></td>
  </tr>
<% end %>
</table>

<br />
<div class="center">
  <%= paginate @niconicomovies, :window => 2 %>
</div>
<%#= link_to 'New Youtubemovie', new_youtubemovie_path %>
