<div id="main">
  <div class="popular-recommend">
    <h1>人気</h1>
    <table class="popular-table table">
      <tbody>
        <% @new_rt_youtube.each do |v| %>
          <tr>
            <td class="article non-textdecoration">
              <%= link_to movie_show_url(v[0]) do %>
                <div class="title"><%= v[0].title %></div>
                <div class="description"><%= v[0].description %></div>
                <div class="image"><%= movie_image_tag(v[0]) %></div>
                <div class="clearfix"></div>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% @new_rt_niconico.each do |v| %>
          <tr>
            <td class="article non-textdecoration">
              <%= link_to movie_show_url(v[0]) do %>
                <div class="title"><%= v[0].title %></div>
                <div class="description"><%= v[0].description %></div>
                <div class="image"><%= movie_image_tag(v[0]) %></div>
                <div class="clearfix"></div>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% @new_fav_youtube.each do |v| %>
          <tr>
            <td class="article non-textdecoration">
              <%= link_to movie_show_url(v[0]) do %>
                <div class="title"><%= v[0].title %></div>
                <div class="description"><%= v[0].description %></div>
                <div class="image"><%= movie_image_tag(v[0]) %></div>
                <div class="clearfix"></div>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% @new_fav_niconico.each do |v| %>
          <tr>
            <td class="article non-textdecoration">
              <%= link_to movie_show_url(v[0]) do %>
                <div class="title"><%= v[0].title %></div>
                <div class="description"><%= v[0].description %></div>
                <div class="image"><%= movie_image_tag(v[0]) %></div>
                <div class="clearfix"></div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="new-recommend">
    <h1>新着動画</h1>
    <table class="new-table table">
      <tbody>
        <% @today_movie.each do |movie| %>
          <tr>
            <td class="article non-textdecoration">
              <%= link_to movie_show_url(movie) do %>
                <div class="title"><%= movie.title %></div>
                <div class="description"><%= movie.description %></div>
                <div class="image"><%= movie_image_tag(movie) %></div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
