<div id="main">
  <div id="fav">
    <table class="recommend">
      <tr>
	<td class="movie" colspan="2">
	  <%= link_to @top_movie.url, :target => '_blank' do %>
	  <div class="key<%= rand(4) %>"><span class="count"><%= @number %></span>  <%= @type %></div>
	  <div class="title"><%= @top_movie.title %></div>
	  <div class="detail">
	    <div class="top_description"><%= @top_movie.description %></div>
	    <% if @movie_type == "youtube" %>
	      <% id_s = @top_movie.url.index('v=') %>
	      <% id_e = @top_movie.url.index('&') %>
	      <div class="url_top"><%= image_tag('http://i.ytimg.com/vi/' + @top_movie.url[id_s+2..id_e-1] + '/hqdefault.jpg') %></div>
	    <% end %>
	    <div class="clearfix"></div>
	  </div>
	  <% end %>
	</td>
	<td>
	</td>
      </tr>
      <tr>
	<% @new_rt_youtube.each do |v| %>
	  <% val = v[0] %>
	  <% key = v[1] %>
	  <td class="movie">
	    <%= link_to val.url, :target => '_blank' do %>
	    <div class="key<%= rand(4) %>"><span class="count"><%= key %></span>  RT</div>
	    <div class="title"><%= val.title %></div>
	    <div class="detail">
	      <div class="description"><%= val.description %></div>
	      <% id_s = val.url.index('v=') %>
	      <% id_e = val.url.index('&') %>
	      <div class="url"><%= image_tag('http://i.ytimg.com/vi/' + val.url[id_s+2..id_e-1] + '/default.jpg') %></div>
	      <div class="clearfix"></div>
	    </div>
            <% end %>
          </td>
	<% end %>
      </tr>
      <tr>
	<% @new_rt_niconico.each do | v| %>
	  <% val = v[0] %>
	  <% key = v[1] %>
	  <td>
	    <%= link_to val.url, :target => '_blank' do %>
	    <div class="movie">
	      <div class="key<%= rand(4) %>"><span class="count"><%= key %></span>  RT</div>
	      <div class="title"><%= val.title %></div>
	      <div class="detail">
		<div class="description"><%= val.description %></div>
		<% id_s = val.url.index('watch/') %>
		<% id = val.url[id_s+8..100] %>
		<% rand = id.to_i % 4 + 1 %>
		<div class="url"><%= image_tag('http://tn-skr' + rand.to_s + '.smilevideo.jp/smile?i=' + id) %></div>
		<div class="clearfix"></div>
	      </div>
	    </div>
            <% end %>
          </td>
        <% end %>
      </tr>
      <tr>
	<% @new_fav_youtube.each do | v| %>
	  <% val = v[0] %>
	  <% key = v[1] %>
	  <td>
	    <%= link_to val.url, :target => '_blank' do %>
	    <div class="movie">
	      <div class="key<%= rand(4) %>"><span class="count"><%= key %></span>  fav</div>
	      <div class="title"><%= val.title %></div>
	      <div class="detail">
		<div class="description"><%= val.description %></div>
		<% id_s = val.url.index('v=') %>
		<% id_e = val.url.index('&') %>
		<div class="url"><%= image_tag('http://i.ytimg.com/vi/' + val.url[id_s+2..id_e-1] + '/default.jpg') %></div>
		<div class="clearfix"></div>
	      </div>
	    </div>
	    <% end %>
          </td>
        <% end %>
      </tr>
      <tr>
	<% @new_fav_niconico.each do | v| %>
	  <% val = v[0] %>
	  <% key = v[1] %>
	  <td>
	    <%= link_to val.url, :target => '_blank' do %>
	    <div class="movie">
	      <div class="key<%= rand(4) %>"><span class="count"><%= key %></span>  fav</div>
	      <div class="title"><%= val.title %></div>
	      <div class="detail">
		<div class="description"><%= val.description %></div>
		<% id_s = val.url.index('watch/') %>
		<% id = val.url[id_s+8..100] %>
		<% rand = id.to_i % 4 + 1 %>
		<div class="url"><%= image_tag('http://tn-skr' + rand.to_s + '.smilevideo.jp/smile?i=' + id) %></div>
		<div class="clearfix"></div>
	      </div>
	    </div>
            <% end %>
          </td>
        <% end %>
      </tr>
    </table>    
  </div>
</div>
