<p id="notice"><%= notice %></p>

<h4><%= @patient.name %>さんの阿澄病レポート</h4>


<%=l @patient.updated_at %>更新

<p>
  <b>阿澄度:</b>
  <%= @patient.level %>%
</p>

<p>
  <b>阿澄ワード:</b>
  <%= @patient.asumi_word %>語
</p>
<table class="table">
  <thead>
    <tr>
      <th>ツイート</th>
      <th>投稿日時</th>
    </tr>
  </thead>
  <tbody>
    <% @asumi_tweet.each do | tweet | %>
    <tr>
      <td><%= tweet.tweet %></td>
      <td><%=l tweet.tweet_time %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="center">
  <%= paginate @asumi_tweet, :window => 2 %>
</div>
