<h4><%= link_to @patient.name + "さんの阿澄病レポート", patient_path(@patient) %></h4>

<div class="update_time">
  <%=l @patient.updated_at.beginning_of_day %>更新
</div>
<div id="patient_show">
  <div class="left_box">
    <div id="chart"></div>
    <table class="report center">
      <tbody>
        <tr>
          <th>
            昨日
          </th>
          <td>
            <b>阿澄度</b><br />
            <%= @patient.level %>%
          </td>
          <td>
            <b>ツイート数</b><br />
            <%= @patient.prev_tweet_count %>
          </td>
          <td>
            <b>阿澄ワード</b><br />
            <%= @patient.prev_asumi_word %>語
          </td>
          <td class="last">
            <b>順位</b><br />
            <% if @ranking.present? %>
              <%= @ranking %>位
            <% else %>
              圏外
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <div id="main_tweet">
      <caption><h5>阿澄ツイート</h5></caption>
      <table class="table tweet_area">
        <tbody>
          <% @asumi_tweet.each do | tweet | %>
            <tr>
              <td><%= tweet.tweet %>
                <div class="tweet_detail"><%= link_to "詳細", "http://twitter.com/#{@patient.name}/status/#{tweet.tweet_id}", target: :blank %></div>
              </td>
              <td><%=l tweet.tweet_time %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="right_box">
    <div class="content_area">
      <div class="right">
        <%= search_form_for(@search, :url => patient_path(@patient)) do |f| %>
          <%= f.text_field :tweet_cont, :placeholder => "ツイート検索" %>
          <%= f.submit "検索", class: "btn" %>
      </div>
      <% end %>
    </div>
    <br />
    <div class="content_area ranking">
      <h5>ランキング</h5>
      <table class="ranking">
        <% @all_patients.first(10).each_with_index do |p ,i| %>
          <tr>
            <th><%= i + 1 %>位</th>
            <td><%= link_to "@" + p.name, patient_path(p.id) %></td>
        <% end %>
      </table>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="center">
    <%= paginate @asumi_tweet, :window => 2 %>
  </div>
</div>
