<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) + " - 阿澄ちゃん" : "阿澄ちゃん" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "user", :media => "all" %>

    <%= include_gon %>

  </head>
  <body data-controller=<%= params[:controller] %> data-action=<%= params[:action] %>>
    <div class="background"></div>
    <div class="blur"></div>
    <%= render "layouts/nav_user" %>
    <div class="container">
      <div id="main_area">
        <%= bootstrap_flash %>
        <%= yield %>
      </div>
      <footer>
        <p>&copy; 2013-2017 <%= link_to "@h3_poteto", "https://twitter.com/h3_poteto" %></p>
      </footer>
    </div>
    <%= javascript_include_tag "user" %>
    <% if Settings.analytics %>
      <%= render "layouts/google_analytics" %>
    <% end %>
  </body>
</html>
